body{
  background-color: rgb(242, 237, 230);
} 
#root {
  color: rgb(128, 111, 111);
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: row;
}
.div {
  background-color: white;
 border: 10px solid rgb(113, 81, 81);
 border-radius: 10px;
 padding: 25px 0px 70px 0px;
 border-top-right-radius: 280px;
 border-bottom-left-radius: 280px;
 gap: 1%;
 display: grid;
 grid-template-columns: repeat(1, 300px);
 justify-content: center;
 align-items: center;
}

#forEpisode{
  padding-right: 40px;
  color: rgb(47, 41, 33);
  font-size: 0.3rm;
  font-weight: bolder;
  display: inline-block;
  border-bottom: 3px solid rgb(85, 63, 63);
}

@media screen and (max-width: 600px) {
  .div {
    border-top-right-radius: 130px;
    border-bottom-left-radius: 130px;
    margin: 20px;
  }
}
